*{
    margin: 0px;
    padding: 0px;
}
/* header releted styles */
.menu-container{
    background: #464242;
    padding: 10px;
    color:rgb(219, 195, 194);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
    text-decoration: none;
}
.item{
    margin-right: 5px;
    padding-right: 7px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color:rgb(16, 16, 226);
}

/* banner related styles */

.bannner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    /* border: 2px solid rgb(173, 19, 19); */
    align-items: center;
    color: white;
    background-image: url('../images/background.png'),
    linear-gradient(45deg,rgb(59, 49, 49),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-text{
    margin-left: 20px;
}
.banner-tittle{
    font-size: 55px;
    font-weight: bold;
}
.banner-description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.btn{
    padding: 18px 20px;
    background-color: red;
    color:white;
    border:none;
}

/* About releted styles */
.tittle{
   text-align: center;
   padding-top: 20px;
   padding-bottom: 40px;
}
.about-tittle{
    background-color: rgb(85, 85, 170);
}
.about-container{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: rgb(85, 85, 170);
}
.abo-tittle{
    margin-bottom: 10px;
}
.info{
    margin-bottom: 10px;
}

/* service related styles */
.box{
    width: 230px;
    height:250px;
    box-shadow: 4px 4px 15px grey;
    background: #000;
    text-align: center;
    padding: 15px;
    color:white;
    margin-bottom: 20px;
}
.icon{
    width: 100px;
}
.box-btn{
    margin-top: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
}
.service{
    background: #352c2c;
}

/* footer related styles */
.footer-section{
    background: #000000;
    color: white;
    padding-top: 50px;
}
.footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.list-item {
    list-style: none;
}
.description{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-photo{
    width: 300px;
    background-image: center;
}
.footer-bottom{
    margin-top: 100px;
    margin-bottom: 30px;
}
.bottom-info{
    text-align: center;
    padding: 30px;
}